@charset "UTF-8";

@import "components/_tools/reset.scss";
@import "variables.scss";
@import "components/header/header.scss";


body{
    /*
    Apenas para testes
    */
    background-image: $body-background;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}