@charset "UTF-8";
@import "variables.scss";

body{
    /*
    Apenas para testes
    */
    background-image: $body-background;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}