@import "../../variables.scss";
@import "../_tools/tablet.scss";

header{
    @extend .tablet;   
    max-height: min-content;
    margin-bottom: 2vh;  
   


    .header-container{
        @extend .tablet-container;
        display: flex;
        align-items: center;
        padding: 10px 10px;
        
    }

    .img-perfil{
        max-width: 100px;
        max-height: 100px;  
        margin: 0px 20px 0px 0px;    
        border-radius: 5px;
    }
    section.header-title{
        h1{
            align-items: top;
            font-family: $press-start;
            font-size: 40px;
            margin-bottom: 15px;
        }
        h3{
            font-family: $free-hand;
            letter-spacing: 0.1em;
            font-size: 40px;
        }
    }
    
}


